@{
    ViewBag.Title = "Muscles";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

@model IEnumerable<YourGrowth.Web.Muscle>

<h2>Muscles</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MuscleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MuscleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MuscleId })
                </td>
            </tr>
        }
    }
</table>
